.navbar-brand {
  padding: 0;
}

.navbar-brand img {
  height: 40px;
}

#powered-by img {
  max-width: 150px;
  max-height: 100px;
  display: inline;
  margin: 15px;
}

#contacts {
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact {
  border: 1px solid gray;
  padding: 10px;
}

.contact span {
  display: block;
}
